<form action="/cars" method="post">
  <label for="makeModel">Add a make and model</label>
  <input id="makeModel" name="makeModel" type="text">
  <br>
  <br>
  <br>
  <br>
  <label for="price">Car Price</label>
  <input id="price" name="price" type="number">
  <br>
  <br>
  <br>
  <br>
  <label for="miles">Car Mileage</label>
  <input id="miles" name="miles" type="number">
  <br>
  <br>
  <br>
  <br>
  <button type="submit">Submit</button>
</form>